gradum-songs-panel {
    display: flex;
    flex-direction: column;
    gap: var(--gap-big);
    padding: var(--gap-big);
    border-radius: var(--radius-big);

    width: 40vw;
    min-width: 300px;
    max-width: 550px;
    height: calc(100% - 2 * var(--gap-big));

    background-color: var(--surface-2);
    border: 1px solid var(--border);
    backdrop-filter: blur(10px);
}

gradum-songs-panel > .gradum-rich-element {
    background-color: var(--surface);
    border-radius: 1000px;
    border: 1px solid var(--border);
}

gradum-songs-panel > .gradum-rich-element > div {
    display: flex;
    flex-direction: row;
    gap: var(--gap-medium);
    padding: var(--gap-small) calc(1.5 * var(--gap-small));
}

gradum-songs-panel > .gradum-rich-element input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
}

gradum-songs-panel > .songs-panel-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: var(--gap-medium);
    padding-inline-end: var(--gap-small);
}

