body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.gradum-button {
    background-color: lightcyan;
    border: 2px solid #8acccc;
    cursor: pointer;
}

.gradum-button:hover {
    scale: 1.05;
}

.gradum-button.selected {
    scale: 1.03;
    background-color: #89d5d5;
    border-color: #5ba1a1;
}

.gradum-icon {
    width: 0.8rem;
    height: 0.8rem;
}

.gradum-icon > svg {
    width: 100%;
    height: 100%;
}