demo-selection-box {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: 1px dashed #3b82f6;

    display: none;
    z-index: 10;

    pointer-events: none;
}

demo-selection-box.selecting {
    display: block;
}

demo-rotate-handle {
    position: absolute;
    box-sizing: border-box;
    width: 24px;
    height: 24px;

    pointer-events: auto;
    cursor: grab;
}

demo-rotate-handle:active {
    cursor: grabbing;
}

demo-resize-handle {
    position: absolute;
    box-sizing: border-box;
    width: 10px;
    height: 10px;

    margin: -5px;

    background-color: white;
    border: 1px solid #3b82f6;
    border-radius: 2px;

    pointer-events: auto;
    cursor: pointer;
}
